* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.main-content {
    display: flex;
    min-height: 100vh;
    width: 100%;

    @media(max-width: 600px) {
        flex-flow: column;
    }
}